 -----------------------------
# Project folders (yours)
# -----------------------------
/Planning/
/.obsidian/
/GUI Pictures/
/Board Pictures/

# -----------------------------
# Python (Backend)
# -----------------------------
.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

Project Documentation.pdf
